<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/skyfolks.log"
                     filePattern="logs/skyfolks.%i.log">
            <PatternLayout pattern="%d [%10.10t] %-7level - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile" level="debug"/>
        </Root>
        <logger name="com.zaxxer.hikari" level="info"/>
    </Loggers>
</Configuration>